.TodoList {
    width: 100%;
    max-width: 400px;
    border: 2px solid black;
    font-size: 25px;
    margin: 30px auto;
    text-align: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}